<h1>任務列表</h1>
<%= link_to "新增任務", new_mission_path %>

<table>
  <thead>
    <tr>
      <th> 編號 </th>
      <th> <%= t("activerecord.attributes.mission.title") %> </th>
      <th> <%= t("activerecord.attributes.mission.context") %> </th>
      <th> <%= t("activerecord.attributes.mission.status") %> </th>
      <th> <%= t("activerecord.attributes.mission.priority") %> </th>
      <th> <%= t("activerecord.attributes.mission.start_time") %> </th>
      <th> <%= t("activerecord.attributes.mission.end_time") %> </th>
      <th> 動作 </th>
    </tr>
  </thead>
  <tbody>
    <% @missions.each do |mission| %>
    <tr>
      <td> <%= mission.id %> </td>
      <td> <%= mission.title %> </td>
      <td> <%= mission.context %> </td>
      <td> <%= mission.status %> </td>
      <td> <%= mission.priority %> </td>
      <td> <%= mission.start_time.strftime('%Y-%m-%d %H:%M:%S') if mission.start_time %> </td>
      <td> <%= mission.end_time.strftime('%Y-%m-%d %H:%M:%S') if mission.end_time %> </td>
      <td>
          <%= link_to "編輯", edit_mission_path(mission) %>
          <%= link_to "刪除", mission_path(mission), method: "delete", data: { confirm: "確認刪除？" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>